base_case:
  start_date: 2012-12-31 23:00
  end_date: 2014-01-01 00:00
  time_step: 1h
  learning_mode: False
  save_frequency_hours: null
  
  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      start_date: 2012-12-31 23:00
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear