name: assume-doc
channels:
- conda-forge
dependencies:
- python>=3.10
- pip
- python
- ipykernel
- pandas
- numpy
- tqdm
- SQLAlchemy

- pip:
  - .
  - sphinx<6
  - sphinx-book-theme
  - nbsphinx
  - nbsphinx_link
  - sphinxcontrib-mermaid
