# SPDX-FileCopyrightText: ASSUME Developers
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: assume-framework
channels:
- conda-forge
dependencies:
- python>=3.11
- pip
- python
- ipykernel
- pandas
- numpy
- tqdm
- SQLAlchemy
- matplotlib
- pyomo
- pyyaml

- pip:
  - .
