# SPDX-FileCopyrightText: ASSUME Developers
#
# SPDX-License-Identifier: AGPL-3.0-or-later

base:
  start_date: 2019-03-01 00:00
  end_date: 2019-03-31 00:00
  time_step: 1h
  save_frequency_hours: null

  learning_config:
    learning_mode: true
    continue_learning: false
    trained_policies_save_path: null
    trained_policies_load_path: null
    max_bid_price: 100
    algorithm: matd3
    learning_rate: 0.001
    training_episodes: 100
    device: cpu
    validation_episodes_interval: 5
    matd3:
      actor_architecture: mlp
      batch_size: 64
      episodes_collecting_initial_experience: 3
      gamma: 0.99
      gradient_steps: 10
      noise_dt: 1
      noise_scale: 1
      noise_sigma: 0.1
      action_noise_schedule: linear
      train_freq: 24h
    ppo:
      actor_architecture: dist
      batch_size: 11
      clip_ratio: 0.05
      entropy_coef: 0.005
      gae_lambda: 0.95
      gamma: 0.99
      max_grad_norm: 0.3
      train_freq: 33h
      vf_coef: 0.75

  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      start_date: 2019-03-01 00:00
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear

base_lstm:
  start_date: 2019-03-01 00:00
  end_date: 2019-03-31 00:00
  time_step: 1h
  save_frequency_hours: null

  learning_config:
    learning_mode: true
    continue_learning: false
    trained_policies_save_path: null
    max_bid_price: 100
    algorithm: matd3
    learning_rate: 0.001
    training_episodes: 50
    episodes_collecting_initial_experience: 5
    train_freq: 24h
    gradient_steps: 24
    batch_size: 256
    gamma: 0.99
    device: cpu
    noise_sigma: 0.1
    noise_scale: 1
    noise_dt: 1
    validation_episodes_interval: 5
    early_stopping_steps: 10
    early_stopping_threshold: 0.05
    actor_architecture: lstm

  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      start_date: 2019-03-01 00:00
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear

tiny:
  start_date: 2019-01-01 00:00
  end_date: 2019-01-05 00:00
  time_step: 1h
  save_frequency_hours: null

  learning_config:
    learning_mode: true
    continue_learning: false
    trained_policies_save_path: null
    max_bid_price: 100
    algorithm: matd3
    learning_rate: 0.001
    training_episodes: 10
    episodes_collecting_initial_experience: 3
    train_freq: 24h
    gradient_steps: 24
    batch_size: 64
    gamma: 0.99
    device: cpu
    noise_sigma: 0.1
    noise_scale: 1
    noise_dt: 1
    validation_episodes_interval: 5
    actor_architecture: mlp

  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      start_date: 2019-01-01 00:00
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear
