base:
  end_date: 2019-03-31 00:00
  learning_config:
    algorithm: matd3
    batch_size: 256
    continue_learning: false
    device: cpu
    episodes_collecting_initial_experience: 5
    gamma: 0.99
    gradient_steps: -1
    learning_rate: 0.001
    max_bid_price: 100
    noise_dt: 1
    noise_scale: 1
    noise_sigma: 0.1
    train_freq: 24h
    trained_policies_save_path: null
    training_episodes: 100
    validation_episodes_interval: 5
  learning_mode: true
  markets_config:
    EOM:
      market_mechanism: pay_as_clear
      maximum_bid_price: 3000
      maximum_bid_volume: 100000
      minimum_bid_price: -500
      opening_duration: 1h
      opening_frequency: 1h
      operator: EOM_operator
      price_unit: EUR/MWh
      product_type: energy
      products:
      - count: 1
        duration: 1h
        first_delivery: 1h
      volume_unit: MWh
  save_frequency_hours: null
  start_date: 2019-03-01 00:00
  time_step: 1h
base_lstm:
  end_date: 2019-03-31 00:00
  learning_config:
    actor_architecture: lstm
    algorithm: matd3
    batch_size: 256
    continue_learning: false
    device: cpu
    early_stopping_steps: 10
    early_stopping_threshold: 0.05
    episodes_collecting_initial_experience: 5
    gamma: 0.99
    gradient_steps: -1
    learning_rate: 0.001
    max_bid_price: 100
    noise_dt: 1
    noise_scale: 1
    noise_sigma: 0.1
    train_freq: 24h
    trained_policies_save_path: null
    training_episodes: 50
    validation_episodes_interval: 5
  learning_mode: true
  markets_config:
    EOM:
      market_mechanism: pay_as_clear
      maximum_bid_price: 3000
      maximum_bid_volume: 100000
      minimum_bid_price: -500
      opening_duration: 1h
      opening_frequency: 1h
      operator: EOM_operator
      price_unit: EUR/MWh
      product_type: energy
      products:
      - count: 1
        duration: 1h
        first_delivery: 1h
      volume_unit: MWh
  save_frequency_hours: null
  start_date: 2019-03-01 00:00
  time_step: 1h
tiny:
  end_date: 2019-01-05 00:00
  learning_config:
    actor_architecture: mlp
    algorithm: matd3
    batch_size: 64
    continue_learning: false
    device: cpu
    episodes_collecting_initial_experience: 3
    gamma: 0.99
    gradient_steps: -1
    learning_rate: 0.001
    max_bid_price: 100
    noise_dt: 1
    noise_scale: 1
    noise_sigma: 0.1
    train_freq: 24h
    trained_policies_save_path: null
    training_episodes: 10
    validation_episodes_interval: 5
  learning_mode: true
  markets_config:
    EOM:
      market_mechanism: pay_as_clear
      maximum_bid_price: 3000
      maximum_bid_volume: 100000
      minimum_bid_price: -500
      opening_duration: 1h
      opening_frequency: 1h
      operator: EOM_operator
      price_unit: EUR/MWh
      product_type: energy
      products:
      - count: 1
        duration: 1h
        first_delivery: 1h
      volume_unit: MWh
  save_frequency_hours: null
  start_date: 2019-01-01 00:00
  time_step: 1h
