# SPDX-FileCopyrightText: ASSUME Developers
#
# SPDX-License-Identifier: AGPL-3.0-or-later

base:
  start_date: 2019-03-01 00:00
  end_date: 2019-04-01 00:00
  time_step: 1h
  save_frequency_hours: null
  seed: null

  learning_config:
    learning_mode: True
    continue_learning: false
    trained_policies_save_path: null
    trained_policies_load_path: null
    max_bid_price: 100
    algorithm: matd3
    learning_rate: 0.001
    training_episodes: 100
    train_freq: 100h
    batch_size: 128
    gamma: 0.99
    device: cpu
    validation_episodes_interval: 5

    # Off-policy parameters (required for TD3/DDPG algorithms)
    off_policy:
      episodes_collecting_initial_experience: 5
      gradient_steps: 10
      noise_sigma: 0.1
      noise_scale: 1
      action_noise_schedule: linear
      noise_dt: 1
      replay_buffer_size: 10000

    # On-policy parameters (required for PPO/MAPPO algorithms)
    on_policy:
      clip_ratio: 0.2
      entropy_coef: 0.01
      vf_coef: 0.5
      gae_lambda: 0.95
      n_epochs: 25

  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear

base_lstm:
  start_date: 2019-03-01 00:00
  end_date: 2019-04-01 00:00
  time_step: 1h
  save_frequency_hours: null
  seed: null

  learning_config:
    learning_mode: True
    continue_learning: False
    trained_policies_save_path: null
    max_bid_price: 100
    algorithm: matd3
    actor_architecture: lstm
    learning_rate: 0.001
    training_episodes: 100
    train_freq: 24h
    batch_size: 256
    gamma: 0.99
    device: cpu
    validation_episodes_interval: 5
    early_stopping_steps: 10
    early_stopping_threshold: 0.05

    # Off-policy parameters (required for TD3/DDPG algorithms)
    off_policy:
      episodes_collecting_initial_experience: 3
      gradient_steps: 1
      noise_sigma: 0.1
      noise_scale: 1
      noise_dt: 1
      replay_buffer_size: 10000

    # On-policy parameters (required for PPO/MAPPO algorithms)
    on_policy:
      clip_ratio: 0.2
      entropy_coef: 0.01
      vf_coef: 0.5
      gae_lambda: 0.95
      n_epochs: 25

  markets_config:
    EOM:
      operator: EOM_operator
      product_type: energy
      products:
        - duration: 1h
          count: 1
          first_delivery: 1h
      opening_frequency: 1h
      opening_duration: 1h
      volume_unit: MWh
      maximum_bid_volume: 100000
      maximum_bid_price: 3000
      minimum_bid_price: -500
      price_unit: EUR/MWh
      market_mechanism: pay_as_clear
